<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Spring Boot App</title>
</head>
<body>
    <h1>Welcome to My Spring Boot Application</h1>
    <!-- Add your custom content here -->
    <h2 th:text="${something}"></h2>
    <h3 th:text="${student}"></h3>
    <table class="table table-dark">
        <thead>
    		<tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
    		</tr>
		</thead>
        <tbody>
            <tr th:each="stud : ${student}">
                <td th:text="${stud.nameString}"></td>
                <td th:text="${stud.age}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
